<div id="seccion-conctacto">
    <div class="row mx-0">
        <div class="col-md-6 d-flex flex-column" id="seccion-explicacion-contacto">
            <h3 id="pregunta-contacto">¿Quiénes somos y dónde estamos?</h3>
            <p>Somos una empresa dedicada a resolver <strong>diversos tipos de tickets</strong> en <strong>diferentes secciones</strong>, contando con un equipo de especialistas en cada área. Nuestro objetivo principal es <strong>brindar soluciones efectivas y satisfactorias</strong> a las necesidades y problemas de nuestros clientes.</p>
            <p>Trabajamos de cerca con nuestros clientes para comprender sus <strong>requerimientos y encontrar las mejores soluciones posibles</strong>.  Nuestro equipo de especialistas está altamente capacitado y cuenta con una amplia experiencia en sus respectivas áreas, lo que nos permite abordar con eficiencia una amplia gama de problemas y desafíos.</p>
            <p id="parrafo-3-computer">Estamos comprometidos en ofrecer un <strong>servicio de calidad</strong>, priorizando la <strong>atención personalizada</strong> y brindando respuestas rápidas y efectivas a cada uno de nuestros clientes. Nos esforzamos por superar las expectativas y establecer relaciones de confianza a largo plazo. <br><br> Saludos sinceros - Ticketsolver staff.</p>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <mat-card id="seccion-expositor-googleMaps">
                <iframe id="iframe-gmaps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24182.773104064665!2d-74.007972!3d40.7434!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259c0b6279809%3A0xf0f85f5d47fed64c!2sGoogle%20NYC%3A%208510%20Building!5e0!3m2!1ses!2sar!4v1685046801130!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </mat-card>
        </div>
        <p id="parrafo-3-mobile">Estamos comprometidos en ofrecer un <strong>servicio de calidad</strong>, priorizando la <strong>atención personalizada</strong> y brindando respuestas rápidas y efectivas a cada uno de nuestros clientes. Nos esforzamos por superar las expectativas y establecer relaciones de confianza a largo plazo. <br><br> Saludos sinceros - Ticketsolver staff.</p>
    </div>
    <div class="row mx-0">
        <div class="col" id="items-contacto">
            <li><img class="icono-contacto" src="../../../assets/icons/contacto/fax.png"><label class="texto-icono-contacto">(12) 223232990</label></li>
            <li><img class="icono-contacto" src="../../../assets/icons/contacto/direc.png"><label class="texto-icono-contacto">W16 Sth Av.</label></li>
            <li><img class="icono-contacto" src="../../../assets/icons/contacto/mail.png"><label class="texto-icono-contacto">team.ticketsolvers@support.com</label></li>
            <li><img class="icono-contacto" src="../../../assets/icons/contacto/tel.png"T><label class="texto-icono-contacto">4282-9999</label></li>
        </div>
    </div>
</div>