<section id="seccion-buzon">

    <mat-card id="contenedor-tabla-tickets">
        <label id="titulo-tabla-tickets">Mis tickets de asistencia </label>
        <button id="boton-menu-tabla-tickets" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <img src="../../../assets/icons/opciones-tabla/alta-ticket.png" class="opcion-tabla">
                <span class="opcion-txt-tabla" (click)="open_CrearTicket_Dialog_buzon()">Crear ticket</span>
            </button>
            <button mat-menu-item>
                <img src="../../../assets/icons/opciones-tabla/perfil.png" class="opcion-tabla">
                <span class="opcion-txt-tabla" (click)="open_MostrarDatosPersonales_Dialog_buzon()">Mis datos</span>
            </button>
            <button mat-menu-item>
                <img src="../../../assets/icons/opciones-tabla/cerrar-sesion.png" class="opcion-tabla">
                <span class="opcion-txt-tabla" (click)="cerrarSesion_Dialog_buzon()">Cerrar sesión</span>
            </button>
        </mat-menu>

        <div class="row mx-0" id="contenedor-tabla">
            <mat-form-field id="filtrar-tickets-por-asunto">
                <mat-label class="label-filtrador-tabla">Buscar tickets por asunto</mat-label>
                <input class="txt-drawed" matInput type="text">
            </mat-form-field>
    
            <mat-form-field id="filtrar-tickets-por-estado">
                <mat-label class="label-filtrador-tabla">Filtrar por estado</mat-label>
                <mat-select class="input-filtrar-ticket-tabla" [(value)]="selected">
                  <mat-option class="txt-drawed">Cualquiera</mat-option>
                  <mat-option class="txt-drawed" value="option1">Abierto</mat-option>
                  <mat-option class="txt-drawed" value="option2">Esperando su respuesta</mat-option>
                  <mat-option class="txt-drawed" value="option3">Resuelto</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
        
        <mat-card class="item-ticket">
            <div class="col mx-0">
                <p class="titulo-ticket">
                    <label class="valor-comentario-ticket">Necesito que me den bola urgentemente y hacer algo al respecto...</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="asunto-ticket">
                    Asunto -  <label class="valor-asunto-ticket">Dar de baja</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="actualizacion-ticket">
                    Últ. actualización - <label class="valor-actualizacion-ticket">10/02/2021</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="estado-ticket">
                    Estado - <label class="valor-estado-ticket">Resuelto</label>
                </p>
            </div>
        </mat-card>

        <mat-card class="item-ticket">
            <div class="col mx-0">
                <p class="titulo-ticket">
                    <label class="valor-comentario-ticket">Necesito que me den bola urgentemente y hacer algo al respecto...</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="asunto-ticket">
                    Asunto -  <label class="valor-asunto-ticket">Dar de baja</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="actualizacion-ticket">
                    Últ. actualización - <label class="valor-actualizacion-ticket">10/02/2021</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="estado-ticket">
                    Estado - <label class="valor-estado-ticket">Resuelto</label>
                </p>
            </div>
        </mat-card>

        <mat-card class="item-ticket">
            <div class="col mx-0">
                <p class="titulo-ticket">
                    <label class="valor-comentario-ticket">Necesito que me den bola urgentemente y hacer algo al respecto...</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="asunto-ticket">
                    Asunto -  <label class="valor-asunto-ticket">Dar de baja</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="actualizacion-ticket">
                    Últ. actualización - <label class="valor-actualizacion-ticket">10/02/2021</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="estado-ticket">
                    Estado - <label class="valor-estado-ticket">Resuelto</label>
                </p>
            </div>
        </mat-card>

        <mat-card class="item-ticket">
            <div class="col mx-0">
                <p class="titulo-ticket">
                    <label class="valor-comentario-ticket">Necesito que me den bola urgentemente y hacer algo al respecto...</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="asunto-ticket">
                    Asunto -  <label class="valor-asunto-ticket">Dar de baja</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="actualizacion-ticket">
                    Últ. actualización - <label class="valor-actualizacion-ticket">10/02/2021</label>
                </p>
            </div>
            <div class="col mx-0">
                <p class="estado-ticket">
                    Estado - <label class="valor-estado-ticket">Resuelto</label>
                </p>
            </div>
        </mat-card>

    </mat-card>

</section>