<section id="seccion-home">
    <div class="row mx0" id="expositor-presentacion">
        <div class="col mx0">
            <div id="texto-presentacion">
                <h3 id="pregunta-presentacion">¿Pueden resolver mis problemas?</h3>
                <label id="respuesta-presentacion">
                    Sí. Sin duda alguna<br><br><br><br><br>
                    que podemos.
                </label>
                <label id="respuesta-presentacion-mobile">
                    Sí. Sin duda alguna<br><br>
                    que podemos.
                </label>
            </div>
            <button id="btn-vermas">Ver más</button>
        </div>
    </div>
</section>