#seccion-buzon
{
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 85%;
    width: 100%;
    padding-bottom: 2rem;
}

#contenedor-tabla-tickets
{
    width: 90%;
    margin-left: 5%;
    opacity: 80%;
    height: 90%;
    overflow-y: auto;
    padding: 1rem;
}

#titulo-tabla-tickets
{
    font-family: Tittle-drawed2;
    font-size: 26px;
    background-color: whitesmoke;
    padding: 1rem;
    padding-right: 3rem;
    position: relative;
}

#boton-menu-tabla-tickets
{
    margin-top: 0rem;
    position: absolute;
    right: 15px;
}

.opcion-tabla
{
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.opcion-txt-tabla
{
    font-family: Text-drawed;
}

#filtrar-tickets-por-asunto, #filtrar-tickets-por-estado
{
    padding: 0px;
    margin-top: 1rem;
    width: 45%;
    font-family: Tittle-drawed;
}

#filtrar-tickets-por-estado
{
    margin-left: 10%;
}

.label-filtrador-tabla
{
    font-size: 15px;
    font-family: Tittle-drawed;
}

.input-filtrar-ticket-tabla, .txt-drawed
{
    font-family: Tittle-drawed;;
}

.txt-columna-tabla-tickets-buzon
{
    font-family: Tittle-drawed2;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Items tickets */
.item-ticket
{  
    background-color: #eeeeee;
    margin-bottom: 1rem;
    /* border: 1px solid #bbbbbb; */
}

.titulo-ticket
{
    padding: 0.5rem;
    margin: 0px;
    font-size: 17px;
    text-align: left;
    font-family: Text-drawed;    
    color: #8f4141;
}

.asunto-ticket, .actualizacion-ticket, .estado-ticket
{
    padding: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 16px;
    text-align: left;
    font-family: Text-drawed;
}

.valor-comentario-ticket, .valor-asunto-ticket, .valor-actualizacion-ticket, .valor-estado-ticket
{
    font-weight: 600;
}

/* Items tickets */
.item-ticket:hover
{
    background-color: #d8d8d8;
    transition: background-color 1s ease;
}


@media (min-width: 1500px) 
{
    #filtrar-tickets-por-asunto, #filtrar-tickets-por-estado
    {
        width: 25%;
    }

    #filtrar-tickets-por-estado
    {
        margin-left: 50%;
    }
}

@media (max-width: 1250px) 
{
    #filtrar-tickets-por-asunto, #filtrar-tickets-por-estado
    {
        width: 48%;
    }

    #filtrar-tickets-por-estado
    {
        margin-left: 2%;
    }
}

@media (max-width: 750px) 
{
    .label-filtrador-tabla
    {
        font-size: 14px;
    }
}


@media (max-width: 400px) 
{
    #titulo-tabla-tickets
    {
        font-size: 20px;
    }
}