<section id="seccion-home">
    <div class="row mx0" id="expositor-presentacion">
        <div class="col mx0">
            <div id="texto-presentacion">
                <h3 id="pregunta-presentacion">¿Pueden resolver mis inconvenientes?</h3>
                <label id="respuesta-presentacion">
                    Sí. Sin duda alguna<br><br><br><br><br>
                    que podemos.
                </label>
                <label id="respuesta-presentacion-mobile">
                    Sí. Sin duda alguna<br><br>
                    que podemos.
                </label>
            </div>
            <button id="btn-vermas" (click)="ver_mas_inicio()">Ver más</button>
        </div>
    </div>
    <button mat-mini-fab color="accent" id="acceso-directo-soporte-cliente" hidden>
        <img src="../../../assets/icons/acceso-directo/soporte-cliente.png" height="25px" width="25px">
     </button>
     <button mat-mini-fab color="accent" id="acceso-directo-soporte-tecnico" hidden>
        <img src="../../../assets/icons/acceso-directo/soporte-tecnico.png" height="25px" width="25px">
     </button>
     <button mat-mini-fab color="accent" id="acceso-directo-soporte-financiero" hidden>
        <img src="../../../assets/icons/acceso-directo/soporte-financiero.png" height="25px" width="25px">
     </button>
    <button mat-mini-fab color="accent" id="acceso-directo">
       <img src="../../../assets/icons/acceso-directo/acceso-directo.png" height="25px" width="25px" (click)="switchearAccesoDirecto()">
    </button>
</section>