<div id="contenedor-menu-hamburguesa">
    <label>
        <input type="checkbox">
        <span class="menu"> <span class="hamburger"></span> </span>
        <ul>
          <li> <a href="/home">• Inicio</a> </li>
          <li> <a (click)="open_Ingresar_Dialog_hamburguesa()">• Ingreso</a> </li>
          <li> <a (click)="open_Registrarse_Dialog_hamburguesa()">• Registro</a> </li>
          <li> <a href="/contacto">• Contacto</a> </li>
          <li> <a href="/FAQ">• FAQ</a> </li>
        </ul>
    </label>
</div>