<div id="contenedor-menu-hamburguesa">
    <label>
        <input type="checkbox" (click)="switchearActivacionOpciones()">
        <span class="menu"><span class="hamburger"></span></span>
        <ul id="listado-menu-hamburguesa">
          <li class="opcion-menu-hamburguesa" hidden> <a href="/home">• Inicio</a> </li>
          <li class="opcion-menu-hamburguesa" hidden> <a (click)="open_Ingresar_Dialog_hamburguesa()">• Ingreso</a> </li>
          <li class="opcion-menu-hamburguesa" hidden> <a (click)="open_Registrarse_Dialog_hamburguesa()">• Registro</a> </li>
          <li class="opcion-menu-hamburguesa" hidden> <a href="/contacto">• Contacto</a> </li>
          <li class="opcion-menu-hamburguesa" hidden> <a href="/FAQ">• FAQ</a> </li>
        </ul>
    </label>
</div>