/*----------------- configuracion gral ----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
  }
  
  #contenedor-menu-hamburguesa 
  { 
    display: none;
  }
  
  label .menu {
    position: absolute;
    right: 50px;
    top: -100px;
    z-index: 100;
    width: 3rem;
    height: 3rem;
    background: rgb(3, 2, 2);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 black, 0 0 0 0 black;
    cursor: pointer;
  }
  
  /* SIMBOLO DE HAMBURGUER */
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: white;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  /* SIMBOLO DE HAMBURGUER */
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw black, 0 0 0 100vh black;
    border-radius: 0;
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 400%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  @media (max-width: 777px) 
  {
    #contenedor-menu-hamburguesa
    {
      display: block;
    }
  }

  @media (max-width: 350px) 
  {
    /* SIMBOLO DE HAMBURGUER */
    label .hamburger 
    {
      height: 1px;
    }
    
    /* SIMBOLO DE HAMBURGUER */
    label .hamburger:after, label .hamburger:before 
    {
      width: 100%;
      height: 100%;
      background: white;
    }
  }