<div id="formulario-ingreso">

    <h1 mat-dialog-title id="formulario-ingreso-titulo">Ingresá a tu cuenta</h1>
    <div mat-dialog-content id="formulario-ingreso-contenido">
        <div class="row">
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Usuario</mat-label>
                  <input matInput [(ngModel)]="nombre_ingresado">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" [(ngModel)]="password_ingresada">
                </mat-form-field>
              </div>
        </div>
        <button mat-flat-button color="warn" id="formulario-ing-btn-cancelar" (click)="onNoClick()">Cancelar</button>
        <button mat-flat-button color="primary" id="formulario-ing-btn-enviar" (click)="enviarIngreso()" cdkFocusInitial>Ingresar</button>
    </div>
    
  </div>